@import "../../styles//variables";

.top-bar {
  height: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white1);
  @media (max-width: $tabletBreakpoint) {
    height: auto;
  }
}

.top-bar > .main-nav {
  width: 717px;
  max-width: 717px;
  font-size: 22px;
  & > ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > li {
      font-weight: 500;
      & > a {
        color: inherit;
      }
    }
  }
  @media (max-width: $tabletBreakpoint2) {
    width: 600px;
  }
  @media (max-width: $tabletBreakpoint) {
    display: none;
  }
}

.top-bar > div.logo {
  width: 140px;
  font-size: 53px;
  font-weight: 900;
  @media (max-width: $tabletBreakpoint) {
    font-size: 36px;
  }
}

.top-bar > button.get-started {
  width: 180px;
  height: 50px;
  background-color: var(--primar_200);
  color: var(--primary);
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  @media (max-width: $tabletBreakpoint) {
    font-size: 18px;
    width: fit-content;
    padding: 0 1rem;
    height: 40px;
    border: 2px solid var(--white1);
    color: var(--primary) !important;
  }
  @media (max-width: $tabletBreakpoint) {
    color: var(--primary);
    background-color: var(--white1);
  }

  @media (min-width: 1400px) {
    @media (max-width: 1680px) {
      border: 2px solid var(--white1);
      color: var(--primary) !important;
      background-color: var(--white1);
    }
  }

  @media (min-width: 1025px) {
    @media (max-width: 1300px) {
      border: 2px solid var(--white1);
      color: var(--primary) !important;
      background-color: var(--white1);
    }
  }
}

.top-bar > .mobile-menu {
  background-color: var(--white1);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  color: var(--textColor1);
  font-weight: 500;
  background-color: hsla(0, 0%, 33%, 0.8);
  & > nav {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    & > ul {
      list-style-type: none;
      & > li {
        &:first-of-type {
          text-align: right;
          & > button {
            background-color: transparent;
          }
        }
        padding: 0 1rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

.top-bar .menu-bars-toggle {
  font-size: 22px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  @media (min-width: $tabletBreakpoint) {
    display: none;
  }
}
