@import "../../styles//variables";

.top-bar {
  height: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white1);
  @media (max-width: $tabletBreakpoint) {
    display: block;
    height: auto;
  }
}

.top-bar .main-nav {
  width: 717px;
  max-width: 717px;
  & > ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > li {
      font-weight: 500;
      & > a {
        color: inherit;
      }
    }
  }
  @media (max-width: $tabletBreakpoint2) {
    width: 600px;
  }
  @media (max-width: $tabletBreakpoint) {
    width: 100%;
    & > ul {
      flex-wrap: wrap;
    }
  }
}

.top-bar div.logo {
  width: 140px;
  font-size: 2rem;
  font-weight: 900;
}

.top-bar button.get-started {
  width: 180px;
  height: 50px;
  background-color: var(--primar_200);
  color: var(--primary);
  font-weight: 600;
  @media (max-width: $tabletBreakpoint3) {
    display: block;
    border: 1px solid var(--white1);
    color: white !important;
  }
}
