.page-section {
  width: 1403px;
  margin: auto;
  margin-bottom: 70px;
  @media (max-width: $tabletBreakpoint2) {
    width: 1025px;
  }
  @media (max-width: $tabletBreakpoint) {
    width: 100%;
    padding: 0 1rem;
  }
}

.top_bar_bg {
  width: 1660px;
  height: 885px;
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
