@import "../../styles/variables";

footer.page-footer {
  background-color: var(--primary);
  color: white;
}

footer.page-footer > section:first-of-type {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin-bottom: 0 !important;

  & > div.first {
    width: 675px;
    height: 320px;
    & > div.wca {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2;
    }
    & > ul {
      list-style-type: none;
      display: flex;
      & > li {
        display: inline-block;
        & > a {
          color: inherit;
          font-size: 36px;
          margin-right: 24px;
        }
      }
    }
    & > p {
      line-height: 2;
    }
    & > div.find-and-follow {
      line-height: 3;
      font-weight: 500;
      font-size: 20px;
    }
  }
  & > ul.quick-links {
    list-style-type: none;
    line-height: 2;
    & > h4 {
      font-weight: 600;
      font-size: 24px;
      color: inherit;
    }
    & > li {
      line-height: 2;
      text-align: left;
      font-size: 22px;
      font-weight: 500;
      & > a {
        color: var(--white1);
      }
    }
  }
  & > div.contacts {
    width: 380px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: $tabletBreakpoint2) {
    & > div.first {
      width: 500px;
      height: auto;
      padding-bottom: 20px;
      & > div.wca {
        font-size: 1.5rem;
      }
    }
    & > ul.quick-links {
      & > h4 {
        font-size: 18px;
      }
      & > li {
        line-height: 1.5;
        font-size: 18px;
      }
    }
    & > div.contacts {
      height: fit-content;
      width: fit-content;
    }
  }
  @media (max-width: $tabletBreakpoint) {
    display: block;
    & > div.first {
      width: 90%;
      margin: 0 auto;
    }
    & > ul.quick-links {
      width: 90%;
      margin: 0 auto 1rem auto;
    }
    & > div.contacts {
      width: 90%;
      margin: 0 auto 1rem auto;
      justify-content: flex-start;
    }
  }
}

footer.page-footer > section:last-of-type {
  height: 4rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.68);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.page-footer div.contact {
  display: flex;
  align-items: center;
  & > div:first-of-type {
    font-size: 36px;
    line-height: 2rem;
    height: fit-content;
    margin-right: 1.5rem;
  }
  & > div:last-of-type {
    & > h5 {
      font-size: 1.1rem;
      line-height: 2;
      color: inherit;
    }
    & > div {
      font-size: 1rem;
    }
  }

  @media (max-width: $tabletBreakpoint2) {
    & > div:first-of-type {
      font-size: 24px;
      line-height: 1rem;
      margin-right: 1rem;
    }
  }
}
